<section class="sec">
    <div class="analyst">
        <h1 class="analyst-name">Mickey Mouse</h1>
         <ul class="analyst-projects"> 
            <% for (let i=0; i < mickeysProjects.length; i++) { %>
              <li> <%= mickeysProjects[i] %> </li> 
            <% } %>
        </ul>
    </div>
    <div class="analyst">
        <h1 class="analyst-name">Donald Duck</h1>
         <ul class="analyst-projects"> 
            <% for (let i=0; i < donaldsProjects.length; i++) { %>
                <li> <%= donaldsProjects[i] %> </li> 
              <% } %>
        </ul>
    </div>
   
</section>

