<%- include('header.ejs') %>        
<%- include('forms.ejs') %>         
        <section class="sec">
            <div class="analystProjects">
                <div class="analyst">
                    <h1>Mickey Mouse</h1> <!--loop over roster-->
                    <ul><!--loop over analyst projects-->
                        <li><%= mickeysProjects %></li>
                        <li>another project</li>
                    </ul> 
                </div>
                
            </div>
        </section>
<%- include('footer.ejs') %>    


